 <div class="cards">

<h1> Cocktails List </h1>

<% @cocktails.each do |cocktail| %>
  <h2>
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
  </h2>
  <% end %>
</div>

<h3>
  <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-primary" %>
</h3>

